h1,
h2,
h3,
h4,
h5,
h6 {
    color: greenyellow;
    text-align: center;
}

body {
    background-color: grey;
}

#heading_one {
    color: aqua;
}

.bazz {
    color: brown;
}

div h1 {
    color: gold;
}